.angry-grid {
  display: grid;
  gap: 10px;
}

.item-0 {
  background-color: #d067f5;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  height: 250px;
  img {
    height: 100%;
  }
}

.item-1 {
  height: 344px;
  background-color: #f5cd67;

  grid-row: 2 / 4;
  grid-column: 1 / 3;
}

.item-2 {
  height: 344px;
  background-color: #67caf5;

  grid-row: 1 / 3;
  grid-column: 3 / 5;
}
.item-3 {
  background-color: #72f567;

  height: 250px;
  grid-row: 3 / 4;
  grid-column: 3 / 5;
}

@media only screen and (max-width: 800px) {
  .angry-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }
  .item-0{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    overflow: hidden;
 
    
  }
  .item-1{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    overflow: hidden;
   
  }
  .item-2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
   
  }
  .item-3{
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
  }
}


@media only screen and (max-width: 450px) {
  .angry-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }
  .item-0{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    overflow: hidden;
 
    .all-menu-img-0{
      width: 212px;
      height: 161px;
      margin-top: 65px;
    }
  }
  .item-1{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    overflow: hidden;
    .all-menu-img-1{
      width: 184px;
      height: 220px;
    }
  }
  .item-2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    .all-menu-img-2{
      width: 123px;
      height: 250px;
    }
  }
  .item-3{
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    .all-menu-img-3{
      width: 170px;
      height: 150px;
    }
  }
}
